*{
      margin: 0;
      font-family: 'Open Sans', sans-serif;
}

/* header and navigation style start */

.header001{
      background-color: #fff8f3;
      background-image: url(../images/header_bg.png) , url(../images/developer.png);
      background-repeat: no-repeat;
      background-position: bottom right , left;
}

nav{
      display: flex;
      justify-content: space-between;
      margin: 50px 200px;
}

nav li{
      list-style: none;
      margin: 20px 20px 20px 50px;
}

nav ul{
      display: flex;
      align-items: center;
}

.nav-titel{
      font-size: 45px;
      font-weight: 800;
}

.primary-color{
      color: #2a9c49;
}

.nav-button01{
      width: 200px;
      height: 50px;
      font-weight: 700;
      font-size:20px;
      padding: 10px 50px;
      background-color:#2a9c49;
}

/* nav-bannar style start */
.nav-bannar02{
      display: flex;
      align-items: center;
      margin: 0px 200px;
}

.bannar-title01{
      height: 20px;
      width: 200px;
      font-weight: 600;
      font-size: 35px;
      margin-bottom: 20px;
}

.bannar-title02{
      font-weight: 800;
      font-size: 80px;
      margin-bottom: 5px;
}

.nav-bannar03{
      align-items: baseline;
}

.bannar-discription{
      font-weight: 200;
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 15px;
}

.nav-button02{
      height: 80px;
      width: 200px;
      color: #ffffff;
      background-color: #2a9c49;
      text-align: center ;
      font-weight: 800;
      font-size: 30px;
}


/* main section style */
main{
      max-width: 1500px;
      margin: 0 auto;
}


/* About section styly start */

.about-section{
      margin: 100px 50px;
      background-color:#fff8f3;
      padding: 60px 40px;
      border-radius: 10px;
      text-align: justify;


}

.about-title{
      text-align: center;
      font-size: 50px;
}

.about-discreption{
      margin: 30px 0px;
      color: #2a9c49;
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.contac-section ul{
      margin-top: 10px;
      display: flex;
      text-decoration: none;
      justify-content: space-between;
      list-style: none;
}

.contac-section h4{
      font-size: 25px;
      text-align: center;
      
}

.contac-section p{
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
}
